article{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.625rem;
}
h1{
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    margin-bottom: 0.15rem;
    margin-top: 3rem;
}
header{
    color: #666666;
    font-size: 14px;
    margin-bottom: 3rem;
}
div{
    color: #333333;
    font-size: 15px;
}
p{
    margin-top: 1rem;
}
span{
    color: #999999;
    margin-right: 0.15rem;
}
span.mod{
    color: #999999;
    margin-left: 1rem;
    margin-right: 0.15rem;
    border-left: 0.1rem solid #999999;
    padding-left: 1rem;
}